@import-nomalize;
*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;color: inherit;
}
body{
    font-size: 16px;
    line-height: 1.2;
    background: linear-gradient(135deg,rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%);
}
.icon{
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    fill: #999;
}
:focus{
    outline: none;
}
.onLine{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}