@import-nomalize;
*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;color: inherit;
}
body{
    font-size: 16px;
    line-height: 1.2;
    background-color: #eee;
}
.icon{
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    fill: #999;
}
:focus{
    outline: none;
}